################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/微信图片_20190704152353.jpg
/主界面85.jpg
/主界面10.jpg
